<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="VisualizarJornada">
		<title>TimeMeddler - Visor</title>
		<centered>1</centered>
		<icon>.\images\icon.png</icon>
		<size>640,412</size>
		<focused>1</focused>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>144,168</pos>
			<object class="wxListView" name="ID_LISTVIEW1" variable="ListView1" member="yes">
				<pos>40,32</pos>
				<size>552,200</size>
				<style>wxLC_REPORT|wxLC_AUTOARRANGE</style>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>VISOR DE TIEMPOS DE LA JORNADA</label>
				<pos>8,8</pos>
				<size>624,232</size>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
				<label>RESULTADO</label>
				<pos>8,240</pos>
				<size>624,152</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Porcentaje de Trabajo</label>
				<pos>56,272</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Porcentaje de Descanso</label>
				<pos>56,312</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Porcentaje de Procastinacion </label>
				<pos>56,352</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>0%</label>
				<pos>216,272</pos>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>0%</label>
				<pos>216,312</pos>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>0%</label>
				<pos>216,352</pos>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
			</object>
		</object>
	</object>
</wxsmith>
